* {
	padding: 0;
	margin: 0;
}
body {
	overflow: hidden;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 977px;
	height: 100vh;
}
.sidebar {
	width: 31.3%;
	height: 100%;
	overflow: auto;
}
.sidebar-box {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 800px;
}
.sidebar-title {
	color: #5f5d5d;
}
.container-messenger {
	width: 68.7%;
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 7vh;
	color: white;
	background-color: #14ae5c;
	font-size: 14px;
}
.container-screen {
	height: 85vh;
	overflow: auto;
}
.main-screen {
	background-color: #9747ff;
	width: 96%;
	min-height: 800px;
	padding: 20px 12px;
}
.input-message {
	display: block;
	height: 8vh;
	width: 100%;
	background-color: #f24822;
	padding: 4px;
	text-align: center;
	border: none;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}
.message {
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 251px;
	height: 62px;
	background-color: #ffcd29;
	margin-bottom: 90px;
	border: solid 3px #eaab00;
	border-radius: 7px;
	word-break: break-all;
	padding: 0 10px;
	font-size: 17px;
	line-height: 26px;
}
.right {
	float: right;
	margin-top: -80px;
}
.visible {
	display: flex;
}

@media (max-width: 977px) {
	.sidebar {
		display: none;
	}
	.container {
		justify-content: center;
		max-width: 850px;
	}
	.container-messenger {
		width: 100%;
	}
}
@media (max-width: 607px) {
	.sidebar {
		display: none;
	}
	.container {
		justify-content: center;
		max-width: 850px;
	}
	.container-messenger {
		width: 100%;
	}
	.main-screen {
		width: 95%;
	}
}
@media (max-width: 597px) {
	.message {
		margin-bottom: 97px;
	}
	.right {
		margin-top: -84px;
	}
}
@media (max-width: 580px) {
	.message {
		margin-bottom: 23.5px;
	}
	.right {
		margin-top: -5px;
	}
}
@media (max-width: 489px) {
	.main-screen {
		width: 94%;
	}
	.container-screen {
		height: 459px;
	}
}
@media (max-width: 409px) {
	.main-screen {
		width: 93%;
	}
}
@media (max-width: 354px) {
	.main-screen {
		width: 92%;
	}
	.message {
		max-width: 129px;
	}
	.message {
		margin-bottom: 96.5px;
	}
	.right {
		margin-top: -83px;
	}
}
@media (max-width: 334px) {
	.message {
		margin-bottom: 23.5px;
	}
	.right {
		margin-top: -5px;
	}
}
@media (max-width: 312px) {
	.main-screen {
		width: 91%;
	}
}
@media (max-width: 279px) {
	.main-screen {
		width: 90.5%;
	}
}
@media (max-width: 265px) {
	.main-screen {
		width: 90%;
	}
}